body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* HEADING */
.header--main {
    font-weight: normal;
    font-size: 50 px;
    color: #ffffff;
}

.header--subheader {
    font-weight: 300;
    font-size: 42 px;
    text-align: center;
    color:white;    
}

/* LINK */
.link--cta {
    color: aquamarine;
    font-size: 16 px;
}
/* PARAGRAPH */

.paragraph--p {
    font-size: 21 px;
    color: gray;
}

.footer--f {
    text-align: right;
    color: gray
}